/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body, input {
  color: #2b2b2b;
  font-family: "Cabin", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  width: 100%;
}

@keyframes sliding {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(100%);
  }
  50.01% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0);
  }
}
.header .dark__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: 0.5s ease;
}
.header .dark__bg.open {
  opacity: 100;
  visibility: unset;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper .burger__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.35rem;
  cursor: pointer;
}
.header__wrapper .burger__btn span {
  background-color: #2b2b2b;
  height: 0.4rem;
  width: 3.5rem;
  border-radius: 2rem;
}
.header__wrapper .branding {
  padding-left: 3.5rem;
}
.header__wrapper .branding img {
  width: 10rem;
  cursor: pointer;
}
.header__wrapper .header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
  transition: 0.5s ease;
  overflow: hidden;
  z-index: 2;
}
.header__wrapper .header__nav.open {
  width: 70%;
}
.header__wrapper .header__nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header__wrapper .header__nav ul li {
  width: 100%;
  padding: 2rem 2rem;
  cursor: pointer;
  border-bottom: 0.5px solid #2b2b2b;
}
.header__wrapper .header__nav ul li a {
  color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper .header__nav .header__close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__wrapper .header__nav .header__close span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #ffffff;
  font-size: 2rem;
  background: #e62c2c;
  width: 100%;
  padding: 1.5rem 0;
}
.header__wrapper .header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.header__wrapper .header__icons i {
  cursor: pointer;
}
.header__wrapper .header__icons .header__login .header__login__window {
  position: absolute;
  left: 10%;
  top: 20vh;
  background: #ffffff;
  width: 80%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
  z-index: 2;
}
.header__wrapper .header__icons .header__login .header__login__window.open {
  visibility: unset;
  opacity: 100;
}
.header__wrapper .header__icons .header__login .header__login__window.open h1, .header__wrapper .header__icons .header__login .header__login__window.open form, .header__wrapper .header__icons .header__login .header__login__window.open span, .header__wrapper .header__icons .header__login .header__login__window.open a, .header__wrapper .header__icons .header__login .header__login__window.open .header__login__close {
  opacity: 100;
}
.header__wrapper .header__icons .header__login .header__login__window h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #2b2b2b;
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 1rem 0;
  opacity: 0;
  transition: 0.5s ease;
  border-bottom: 1px solid lightgray;
}
.header__wrapper .header__icons .header__login .header__login__window form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}
.header__wrapper .header__icons .header__login .header__login__window form input {
  padding: 1.5rem 1rem;
  border: 1px solid lightgray;
  outline: none;
  width: 100%;
}
.header__wrapper .header__icons .header__login .header__login__window form input.login {
  background: #e62c2c;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
}
.header__wrapper .header__icons .header__login .header__login__window span {
  padding: 0 2rem;
  opacity: 0;
  transition: 0.5s ease;
}
.header__wrapper .header__icons .header__login .header__login__window a {
  color: #ffffff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 1rem 2rem;
  background: #e62c2c;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  opacity: 0;
  transition: 0.5s ease;
}
.header__wrapper .header__icons .header__login .header__login__window .header__login__close {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: 0.5s ease;
}
.header__wrapper .header__icons .header__login .header__login__window .header__login__close span {
  background: #e62c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  color: #ffffff;
  width: 100%;
  padding: 0.7rem 0;
  cursor: pointer;
}
.header__wrapper .header__icons .header__search .header__search__bar {
  position: absolute;
  left: 0;
  top: 8.028rem;
  background: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
  z-index: 2;
}
.header__wrapper .header__icons .header__search .header__search__bar.open {
  height: 16.8rem;
  border-bottom: 1px solid lightgray;
}
.header__wrapper .header__icons .header__search .header__search__bar h1 {
  color: #2b2b2b;
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0 0 0;
}
.header__wrapper .header__icons .header__search .header__search__bar input {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid lightgrey;
  outline: none;
}
.header__wrapper .header__icons .header__search .header__search__bar i {
  margin: 2rem 2rem;
  color: #e62c2c;
}
.header__wrapper .header__icons .header__cart .header__cart__window {
  position: absolute;
  background: #ffffff;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s ease;
  z-index: 2;
}
.header__wrapper .header__icons .header__cart .header__cart__window.open {
  width: 70%;
}
.header__wrapper .header__icons .header__cart .header__cart__window .cart__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 100%;
}
.header__wrapper .header__icons .header__cart .header__cart__window .cart__top h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #2b2b2b;
}
.header__wrapper .header__icons .header__cart .header__cart__window .cart__top i {
  padding: 1.5rem;
  border-right: 1px solid lightgrey;
}
.header__wrapper .header__icons .header__cart .header__cart__window .cart__top span {
  padding: 1.2rem;
  border-left: 1px solid lightgrey;
}
.header__wrapper .header__icons .header__cart .header__cart__window .cart__items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  flex-direction: column;
  height: 100%;
}
.header__wrapper .header__icons .header__cart .header__cart__window .cart__items span {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
}
.header__wrapper .header__icons .header__cart .header__cart__window .cart__items a {
  color: #ffffff;
  background: #e62c2c;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}
@media screen and (min-width: 1300px) {
  .header__wrapper .burger__btn {
    display: none;
  }
  .header__wrapper .branding {
    padding-left: unset;
  }
  .header__wrapper .header__nav {
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    background: unset;
    display: unset;
    flex-direction: unset;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: 2;
  }
  .header__wrapper .header__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
  }
  .header__wrapper .header__nav ul li {
    width: unset;
    padding: 2rem 2rem;
    cursor: pointer;
    border-bottom: unset;
  }
  .header__wrapper .header__nav ul li a {
    color: #2b2b2b;
    display: unset;
    font-size: 1.7rem;
    font-weight: 600;
  }
  .header__wrapper .header__nav ul li a i {
    display: none;
  }
  .header__wrapper .header__nav .header__close {
    display: none;
  }
  .header__wrapper .header__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .header__wrapper .header__icons i {
    cursor: pointer;
    font-size: 1.8rem;
  }
  .header__wrapper .header__icons .header__login .header__login__window {
    left: 35%;
    top: 15vh;
    width: 30%;
    height: 70%;
  }
  .header__wrapper .header__icons .header__login .header__login__window form {
    margin: 0 0 5rem 0;
  }
  .header__wrapper .header__icons .header__search .header__search__bar h1 {
    margin: 2rem 0 1rem 0;
  }
  .header__wrapper .header__icons .header__search .header__search__bar input {
    width: 40%;
  }
  .header__wrapper .header__icons .header__cart .header__cart__window.open {
    width: 30%;
  }
}

.footer__wrapper {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
}
.footer__wrapper .footer__links {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
}
.footer__wrapper .footer__links .footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.footer__wrapper .footer__links .footer__link h3 {
  font-weight: 600;
  letter-spacing: 0.5rem;
}
.footer__wrapper .footer__links .footer__link span {
  display: flex;
  height: 0.2rem;
  width: 5rem;
  border-radius: 2rem;
  background-color: #2b2b2b;
}
.footer__wrapper .footer__links .footer__link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__wrapper .footer__links .footer__link ul li {
  transition: 0.3s ease;
}
.footer__wrapper .footer__links .footer__link ul li:hover {
  transform: scale(1.03);
}
.footer__wrapper .footer__links .footer__link ul li:hover a {
  color: #e62c2c;
  text-decoration: underline;
}
.footer__wrapper .footer__links .footer__link ul li a {
  color: gray;
  transition: 0.5s ease;
}
.footer__wrapper .footer__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0rem 0;
  border-top: 1px solid lightgray;
}
.footer__wrapper .footer__bottom img {
  width: 7rem;
  opacity: 70%;
}
.footer__wrapper .footer__bottom span {
  color: rgba(0, 0, 0, 0.485);
}
@media screen and (min-width: 1300px) {
  .footer__wrapper .footer__links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: unset;
    width: 100%;
    gap: 18%;
  }
  .footer__wrapper .footer__links .footer__link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
  .footer__wrapper .footer__links .footer__link h3 {
    font-size: 2rem;
  }
  .footer__wrapper .footer__links .footer__link span {
    height: 0.2rem;
    width: 7.5rem;
  }
  .footer__wrapper .footer__links .footer__link ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .footer__wrapper .footer__links .footer__link ul li {
    padding: 0.5rem 0;
  }
  .footer__wrapper .footer__bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: unset;
    gap: 1rem;
    padding: 2rem 0rem 0;
    border-top: 1px solid lightgray;
  }
  .footer__wrapper .footer__bottom img {
    width: 7rem;
    opacity: 70%;
    order: -1;
  }
  .footer__wrapper .footer__bottom span {
    color: rgba(0, 0, 0, 0.485);
  }
}

.banner {
  background-image: url(../img/banner.jpg);
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 50rem;
  height: 50rem;
  display: flex;
}
.banner .banner__bg__overlay {
  position: absolute;
  background: rgba(51, 51, 51, 0.478);
  max-height: 50rem;
  height: 100%;
  width: 100%;
}
.banner__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
}
.banner__wrapper .banner__text {
  z-index: 1;
}
.banner__wrapper .banner__text h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 600;
}
.banner__wrapper .banner__text p {
  color: #ffffff;
  font-size: 2rem;
}
.banner__wrapper .banner__btn {
  display: flex;
  z-index: 1;
}
.banner__wrapper .banner__btn a {
  background: #ffffff;
  color: #2b2b2b;
  padding: 1rem 1.5rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.banner__wrapper .banner__btn a:hover {
  background: #e62c2c;
  color: #ffffff;
}
@media screen and (min-width: 1300px) {
  .banner {
    max-height: 90vh;
    height: 100vh;
  }
  .banner__wrapper {
    justify-content: center;
    gap: 2rem;
  }
}

.home__categories {
  padding: 5rem 0;
}
.home__categories__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.home__categories__wrapper .categories__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  box-shadow: 0 0px 5px lightgray;
  gap: 1rem;
  transition: 0.5s ease;
  cursor: pointer;
}
.home__categories__wrapper .categories__item:hover {
  transform: scale(1.02);
  background: #e62c2c;
}
.home__categories__wrapper .categories__item:hover span {
  color: #ffffff;
}
.home__categories__wrapper .categories__item span {
  color: #2b2b2b;
  font-size: 2rem;
}
@media screen and (min-width: 1300px) {
  .home__categories__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }
}

.home__trend {
  padding: 5rem 0;
}
.home__trend__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}
.home__trend__wrapper .home__trend__title h1 {
  font-size: 3rem;
  font-weight: 600;
}
.home__trend__wrapper .home__trend__divider span {
  display: flex;
  height: 0.3rem;
  width: 8rem;
  background-color: #2b2b2b;
  border-radius: 3rem;
}
.home__trend__wrapper .home__trend__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 3rem;
}
.home__trend__wrapper .home__trend__items .home__trend__item {
  display: flex;
  justify-content: unset;
  align-items: flex-start;
  flex-direction: column;
  transition: 0.5s ease;
  border-bottom: 2px solid #e62c2c;
}
.home__trend__wrapper .home__trend__items .home__trend__item:hover {
  transform: scale(1.02);
}
.home__trend__wrapper .home__trend__items .home__trend__item:hover span {
  color: #ffffff;
}
.home__trend__wrapper .home__trend__items .home__trend__item:hover .home__trend__item__desc::before {
  width: 100%;
}
.home__trend__wrapper .home__trend__items .home__trend__item img {
  width: 30rem;
}
.home__trend__wrapper .home__trend__items .home__trend__item .home__trend__item__desc {
  display: flex;
  justify-content: unset;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.home__trend__wrapper .home__trend__items .home__trend__item .home__trend__item__desc::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: #e62c2c;
  z-index: -1;
  transition: 0.5s ease;
}
.home__trend__wrapper .home__trend__items .home__trend__item .home__trend__item__desc span {
  transition: 0.5s ease;
}
.home__trend__wrapper .home__trend__items .home__trend__item .home__trend__item__desc span.title {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 0 0 1.5rem;
}
.home__trend__wrapper .home__trend__items .home__trend__item .home__trend__item__desc span.price {
  padding: 0 0 1rem 1.5rem;
}
@media screen and (min-width: 1300px) {
  .home__trend__wrapper .home__trend__items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
  }
  .home__trend__wrapper .home__trend__items .home__trend__item img {
    width: 100%;
  }
}

.home__dailies {
  padding: 5rem 0;
}
.home__dailies__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.home__dailies__wrapper .home__dailies__item {
  position: relative;
  display: flex;
}
.home__dailies__wrapper .home__dailies__item .home__daily__img {
  overflow: hidden;
}
.home__dailies__wrapper .home__dailies__item .home__daily__img img {
  transition: 0.5s ease;
}
.home__dailies__wrapper .home__dailies__item .home__daily__img:hover img {
  transform: scale(1.05);
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__desc {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1.5rem 2rem;
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__desc span.title {
  font-size: 2.2rem;
  font-weight: 600;
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__desc span.subtitle {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1rem 2rem 2rem 0;
  overflow: hidden;
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__link:hover a {
  color: #e62c2c;
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__link:hover span {
  background-color: #e62c2c;
  animation: sliding 0.5s ease-in-out;
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__link a {
  color: #2b2b2b;
  transition: 0.5s ease;
  font-weight: 600;
}
.home__dailies__wrapper .home__dailies__item .home__daily__item__link span {
  display: flex;
  height: 0.2rem;
  width: 6.974rem;
  background-color: #2b2b2b;
  transition: 0.5s ease;
}
@media screen and (min-width: 1300px) {
  .home__dailies__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

.home__ads {
  background-image: url(../img/ads.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60%;
  max-height: 40vh;
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__ads__overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.526);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.home__ads__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.home__ads__wrapper .home__ads__text {
  z-index: 1;
}
.home__ads__wrapper .home__ads__text p {
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
  max-width: 30rem;
  text-align: center;
}
.home__ads__wrapper .home__ads__link {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}
.home__ads__wrapper .home__ads__link:hover span {
  animation: sliding 0.5s ease-in-out;
}
.home__ads__wrapper .home__ads__link a {
  color: #ffffff;
  transition: 0.5s ease;
}
.home__ads__wrapper .home__ads__link span {
  display: flex;
  height: 0.2rem;
  width: 12.836rem;
  background-color: #ffffff;
  transition: 0.5s ease;
}
@media screen and (min-width: 1300px) {
  .home__ads {
    max-height: 60vh;
    height: 60vh;
  }
  .home__ads__wrapper .home__ads__text p {
    font-size: 3.5rem;
    max-width: unset;
  }
  .home__ads__wrapper .home__ads__link a {
    font-weight: 600;
    font-size: 2rem;
  }
  .home__ads__wrapper .home__ads__link span {
    width: 16.045rem;
  }
}

.home__collection {
  padding: 5rem 0 10rem;
}
.home__collection__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10rem;
}
.home__collection__wrapper .home__collection__item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
}
.home__collection__wrapper .home__collection__item:hover .home__collection_img__hover {
  height: 100%;
  background: rgba(0, 0, 0, 0.738);
}
.home__collection__wrapper .home__collection__item:hover .home__collection__item__desc {
  transform: translate(0, -50px);
  opacity: 0;
  visibility: hidden;
}
.home__collection__wrapper .home__collection__item img {
  position: relative;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  overflow: hidden;
  transition: 0.5s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__texts span {
  color: #ffffff;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__texts span.title {
  font-size: 3.5rem;
  font-weight: 600;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__texts span.subtitle {
  font-size: 1.3rem;
  letter-spacing: 0.5rem;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  overflow: hidden;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__link:hover span {
  animation: sliding 0.5s ease-in-out;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__link a {
  color: #ffffff;
  transition: 0.5s ease;
  font-weight: 600;
  cursor: pointer;
}
.home__collection__wrapper .home__collection__item .home__collection_img__hover .home__collection__link span {
  display: flex;
  height: 0.2rem;
  width: 6.974rem;
  background-color: #ffffff;
  transition: 0.5s ease;
}
.home__collection__wrapper .home__collection__item .home__collection__item__desc {
  position: absolute;
  bottom: 0;
  transform: translate(0px, 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 1s ease;
}
.home__collection__wrapper .home__collection__item .home__collection__item__desc p {
  color: #2b2b2b;
  font-size: 3rem;
  font-weight: 600;
}
@media screen and (min-width: 1300px) {
  .home__collection__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

.home__email-updates {
  padding: 5rem 0;
  position: relative;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: 70%;
  background-attachment: fixed;
  display: flex;
}
.home__email-updates__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.416);
  height: 100%;
  width: 100%;
}
.home__email-updates__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.home__email-updates__wrapper .home__email-updates__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}
.home__email-updates__wrapper .home__email-updates__text h1 {
  font-size: 2.3rem;
  color: #ffffff;
  text-align: center;
}
.home__email-updates__wrapper .home__email-updates__text h1.mainText {
  font-weight: 600;
  width: 100%;
  padding: 0.5rem 0;
}
.home__email-updates__wrapper .home__email-updates__text h1.sub {
  font-size: 2rem;
}
.home__email-updates__wrapper .home__email-updates__subBar {
  width: 100%;
  z-index: 1;
}
.home__email-updates__wrapper .home__email-updates__subBar form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.home__email-updates__wrapper .home__email-updates__subBar form label {
  padding: 0 1rem 0.5rem;
  font-size: 2rem;
  color: #ffffff;
  align-self: flex-start;
}
.home__email-updates__wrapper .home__email-updates__subBar form input.emailBar {
  padding: 1rem 0.8rem;
  width: 100%;
  outline: none;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.home__email-updates__wrapper .home__email-updates__subBar form .home__email-updates__subBtn {
  overflow: hidden;
}
.home__email-updates__wrapper .home__email-updates__subBar form .home__email-updates__subBtn:hover span {
  animation: sliding 0.5s ease-in-out;
}
.home__email-updates__wrapper .home__email-updates__subBar form .home__email-updates__subBtn input {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.6rem;
  padding: 1.5rem 0 1rem 0;
  color: #ffffff;
  cursor: pointer;
}
.home__email-updates__wrapper .home__email-updates__subBar form .home__email-updates__subBtn span {
  background-color: #ffffff;
  width: 15.619rem;
  height: 0.3rem;
  display: flex;
}
@media screen and (min-width: 1300px) {
  .home__email-updates__wrapper .home__email-updates__text h1 {
    font-size: 3.5rem;
  }
}

.register {
  padding: 5rem 0;
}
.register__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.register__wrapper .register__window {
  display: flex;
  justify-content: unset;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  background: rgba(255, 255, 255, 0.744);
  box-shadow: 0 0 10px lightgray;
}
.register__wrapper .register__window .register__title {
  font-size: 2.5rem;
  border-bottom: 1px solid gray;
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
}
.register__wrapper .register__window .register__title h1 {
  width: 100%;
  text-align: center;
  font-weight: 600;
}
.register__wrapper .register__window form {
  display: flex;
  justify-content: unset;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem;
}
.register__wrapper .register__window form input {
  margin: 0 0 1rem 0;
  width: 100%;
  padding: 0.5rem 1rem;
}
.register__wrapper .register__window form input.submit {
  background: #e62c2c;
  color: #ffffff;
  border: none;
  font-weight: 600;
}
.register__wrapper .register__window .register__backBtn {
  background: #e62c2c;
  width: 100%;
  display: flex;
}
.register__wrapper .register__window .register__backBtn a {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
@media screen and (min-width: 1300px) {
  .register__wrapper .register__window {
    width: 60%;
  }
  .register__wrapper .register__window form {
    padding: 0 4rem;
  }
}/*# sourceMappingURL=main.css.map */